.customNextArrow {
	right: 0px !important;
	&::before {
		color: #474747 !important;
		padding: 4px !important;
		font-size: 28px !important;
	}
}

.customPrevArrow {
	left: -17px !important;
	z-index: 100;
	&::before {
		color: #474747 !important;
		padding: 4px !important;
		font-size: 28px !important;
	}
}